.bg-img {
    width: 100%;
    
}

.carousel-caption {
    top: 15%;
    margin: auto;
    width: 50%;
    border: 0;
    padding: 10px;
    text-align: center;

}

.bg-banner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
