#bt-modal {
    border-radius: 40px;
    margin-left: 0 !important;
    padding: 2px 15px;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: #ffffff;
        color: #0A3565;
    }
}