
.box-size-search {  
  box-sizing: border-box;
  width: 100%;
  height: 80vh;

   .search-all {
    position: relative;
    margin-top: 30vh;
    text-align: center;

    
    // .search-form {
    //   position: relative;
    // }

    .btn-search {
      position: relative;
      // margin-bottom: 1rem;
    }

    .label-search {
      text-align: center;
    }

    .input-search {
      // background-color: rgb(61, 55, 55);
      text-align: center;
      font-size: 34px;
      border: none;
      outline: none;
    }
  }
}

[type="search"] {
  border-style: none;
  border-color: transparent;
  text-align: center;
}

.kembali-search {
  list-style: none;

}

#button-search {
  position: absolute;
  display: inline-block;
  justify-content: flex-end;
  right: 20vh;
}

.kembali-buttons {
  text-align: center;
  position: relative;
  display: inline-block;
  justify-content: center;
}
    
  
    