

// *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;




// }

html {
  font-size: 92.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 2;
  padding: 0;


  box-sizing: border-box;
}

.text-home {
    padding-top: 30px !important;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    width: 40%;
    border: 0;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: rgb(88, 84, 84);
}

  .btn.btn-white.btn-animated {
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    
}
  .btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 38px;
        display: inline-block;
        transition: all .2s;
        position: relative;
    }
  
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px #0002;

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
  
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px #0002;
    }
  
    &--white {
      background-color: rgb(206, 206, 206);
      color: #777;
      border: 2px;
      border-color: #777;
      border-radius: 23px;

      &::after {
        background-color: #fff;
    }
  }
  
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s;
    }
  
   
  
  
  
      .btn-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

