* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* untuk mengatur border supaya 0 */
}

.bg-img {
    width: 100%;
}

.carousel-caption {
    top: 15%;
    margin: auto;
    width: 50%;
    border: 0;
    padding: 10px;
    text-align: center;

}
