* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* untuk mengatur border supaya 0 */
}

#navbar {
    transition: top 0.5s;
}

.colornav {
    background: linear-gradient(to right, #0A3565, #1782D9);
}

.napbar {
    padding-left: 15px;
}

.nav-app{
    display: flex;
    margin-top: 4px;
    margin-right: 30px;
    color:white;
}

.nav-app:hover{
    text-decoration: none;
    color: aqua;
}

.navbar-nav{
    margin-left: 80px;
}

#bt-nav {
    /* position: absolute; */
    border-radius: 4px;
    padding: 3px 15px;
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    -webkit-animation-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
#bt-nav:hover {
    background-color: #4caf50;
    color: white;
}

.ml-auto {
    right: 100px;
}
