/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.text-home {
  padding-top: 30px !important;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  width: 40%;
  border: 0;
  padding: 10px;
  text-align: center;
}

/* .button-homes {
  margin: auto;
  border: none;
  border-radius: 15px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
  background-color: green;
} */


/* @keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px)
  }

  100% {
      opacity: 1;
      transform: translate(0)
  }
} */

.btn.btn-white.btn-animated {
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 38px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgb(0, 0, 0,.2);
}

.btn-white {
  background-color: rgb(206, 206, 206);
  color: #777;
  border: 2px;
  border-color: #777;
  border-radius: 23px;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}








